.admin-navbar {
    background-color: var(--bg-sidebar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow);
}

.admin-navbar .container {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.admin-navbar .container .left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.admin-navbar .container .left .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.admin-navbar .container .left .logo .image-1 {
    width: 52px;
}

.admin-navbar .container .left .logo .image-2 {
    width: 119px;
    padding-top: 10px;
}

.admin-navbar .container .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container .nav-list .nav-link {
    text-decoration: none;
    color: var(--text-main);
    font-size: 1.1rem;
    font-weight: 600;
}

.container .nav-list .nav-link:hover {
    color: var(--hover-text);
}

.nav-list .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.admin-navbar .container .left img {
    width: 50px;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-main);
    cursor: pointer;
}

.admin-navbar .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container .left .nav-list .mobile-btns {
    display: none;
}

@media only screen and (max-width: 835px) {
    .hamburger {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        max-width: 200px;
        background-color: var(--bg-sidebar);
        padding: 2rem 1.5rem;
        gap: 1.5rem;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-list.open {
        right: 0;
    }

    .container .left .nav-list.open .mobile-btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .admin-navbar .right {
        display: none;
    }

    .close-btn {
        display: block;
        align-self: flex-end;
        font-size: 1.8rem;
        background: none;
        border: none;
        color: var(--text-main);
        cursor: pointer;
        margin-bottom: 1rem;
    }
}