.mcqs {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 20px;
}

.mcqs .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcqs .language-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.mcqs label {
    padding-left: 10px;
}

.mcqs .content {
    display: flex;
    flex-direction: column;
}

.mcqs .addquestion-btn {
    display: flex;
    justify-content: flex-end;
}

.mcqs .mcqs-sub-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mcqs .mcqs-sub-form .mcq-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mcqs .mcqs-sub-form .correct-option {
    display: flex;
    flex-direction: column;
}

.mcqs .mcqs-sub-form .mcq-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

@media only screen and (max-width:768px) {
    .mcqs {
        padding: 50px 30px;
    }
}

@media only screen and (max-width:430px) {
    .mcqs {
        padding: 50px 15px;
    }
}