.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:
        var(--banner-2-bg),
        url(../../../assets/images/login.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reset-password .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 20px 160px;
    font-family: var(--font-family);
    color: var(--nav-footer-link-color);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}



.resetpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 191px 50px;
    background-color: var(--course-list-bg);
}

.resetpassword .h1 {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--text-color);
    display: inline-block;
    margin-top: 111px;
    margin-bottom: 12px;
}

.resetpassword .h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: var(--underline-color);
    margin-top: -20px;
    border-radius: 2px;
}

.resetpassword .sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}


.resetpassword .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 467px;
}

.resetpassword .form label {
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 5px;
    padding-left: 10px;
    display: block;
    margin-top: 50px;
}

.resetpassword .form .reset-btn {
    padding: 14px;
    width: 100%;
    background-color: var(--secondary-color);
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    margin-top: 30px;
}

.resetpassword .form .reset-btn:hover {
    opacity: 0.7;
}

.resetpassword .form .back-to-login {
    margin-top: 29px;
}

.resetpassword .form .back-to-login .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.resetpassword .form .back-to-login .link:hover {
    text-decoration: underline;
}

@media only screen and (max-width:480px) {
    .reset-password .title {
        padding: 80px 10px 60px;
        font-size: 1.75rem;
    }
}