.add-course {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 50px;
}

.add-course .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-course .course-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-course .course-form .name {
    padding-left: 10px;
    margin-top: 50px;
}


.add-course .add-publisher-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.add-course .add-publisher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.add-course .add-publisher .add-publisher-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 10;
    gap: 10px;
}

.add-course .add-publisher .add-publisher-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.add-course .add-publisher .publisher-name {
    padding-left: 10px;
}


.add-course .add-part-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0 10px;
}

.add-course .add-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.add-course .add-part-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-course .add-part .add-part-form .part-name {
    padding-left: 10px;
}

.add-course .add-part .add-part-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}


.add-course .add-unit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 10px 10px;
}

.add-course .add-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.add-course .add-unit .unit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-course .add-unit .unit-form .unit-name {
    padding-left: 10px;
}

.add-course .add-unit .unit-form .question-type {
    margin-top: 10px;
    padding-left: 10px;
}

.add-course .add-unit .btns {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 150px;
}

.unit-type-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.5rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.label-text {
    width: 60px;
}

.checkbox-label input[type="checkbox"] {
    appearance: checkbox;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

.checkbox-label input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.add-course .subunit-container .add-subunit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 10px 10px;

}

.add-course .subunit-container .add-subunit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.add-course .subunit-container .add-subunit .subunit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-course .subunit-container .add-subunit .subunit-form .subunit-name {
    padding-left: 10px;
}

.add-course .subunit-container .add-subunit .subunit-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.add-course .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


@media only screen and (max-width:500px) {
    .add-course {
        padding: 50px 20px;
    }
}


@media only screen and (max-width:450px) {
    .add-course {
        padding: 50px 10px;
    }

    .add-course .add-unit .btns {
        padding-top: 110px;
    }

}