.subunit-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: var(--accent);
    gap: 20px;
}

.subunit-table .table-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subunit-table .table-content input {
    max-width: 400px;
    width: 100%;
    outline: none;
    border-color: var(--border);
    padding: 5px 20px;
    border-radius: 8px;
}

.subunit-table .subunit-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subunit-table .subunit-actions img {
    width: 21px;
}

@media only screen and (max-width:768px) {
    .subunit-table .subunit-actions img {
        width: 15px;
    }
}

@media only screen and (max-width:430px) {
    .subunit-table {
        padding: 15px 10px;
    }

    .subunit-table .table-content {
        gap: 10px;
    }

    .subunit-table .subunit-actions {
        gap: 10px;
    }
}