.theme-toggle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.theme-switch {
    width: 78px;
    height: 33px;
    background-color: var(--switch-button-bg);
    border-radius: 45px;
    border: 1px solid var(--switch-button-border);
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 3px;
}

.switch-thumb {
    width: 26px;
    height: 26px;
    background-color: var(--switch-button-thumb);
    color: var(--switch-button-thumb);
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 48px;
    transition: all 0.4s ease;
}

.switch-thumb-dark {
    left: 3px;
    background-color: var(--switch-button-thumb);
}

.theme-label {
    font-size: 14px;
    color: var(--switch-button-thumb);
    margin: 0;
}