.banner {
    position: relative;
    padding: 130px 93px 0px 93px;
    overflow: hidden;
    background: var(--banner-bg);
}

.banner::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 280px;
    right: 430px;
    bottom: 20px;

    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.154) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.17) 1px, transparent 1px);
    background-size: 130px 120px;

    pointer-events: none;
    opacity: 0.5;

    -webkit-mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
        linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-composite: intersect;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
        linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: cover;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--text-color);
    text-wrap: nowrap;
}

.banner .content p {
    font-size: 4.375rem;
    font-weight: 700;
}

.banner .content .highlight {
    color: var(--secondary-color);
}

.banner .subtitle {
    margin-top: 12px;
}

.banner .subtitle p {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 33px;
}

.banner .subtitle .demo-btn {
    background-color: var(--secondary-color);
    color: #000000;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 21px 48px;
    border-radius: 14px;
    width: 100%;
    max-width: 259px;
    border: none;
}

.banner .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.banner .image img {
    width: 796px;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 1399px) {
    .banner .image img {
        width: 700px;
    }

    .banner .content p {
        font-size: 3.75rem;
    }

    .banner .subtitle p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1210px) {
    .banner {
        padding: 100px 50px 0 50px;
    }

    .banner .image img {
        width: 600px;
    }

    .banner .content p {
        font-size: 3.50rem;
    }

    .banner .subtitle p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 991px) {
    .banner {
        padding: 100px 20px 0 20px;
    }

    .banner .image img {
        width: 500px;
    }

    .banner .content p {
        font-size: 2.7rem;
    }

    .banner .subtitle p {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 835px) {
    .banner {
        padding: 80px 50px 0 50px;
    }

    .banner .image img {
        width: 400px;
    }

    .banner .content p {
        font-size: 2.8rem;
    }

    .banner .subtitle p {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .banner .subtitle .demo-btn {
        padding: 15px 20px;
        border-radius: 14px;
        max-width: 140px;
        font-size: 0.9rem;
    }

    .banner::before {
        left: 130px;
        right: 220px;
        top: 50px;
        bottom: 20px;
        background-size: 70px 70px;
    }
}

@media only screen and (max-width: 653px) {
    .banner {
        padding: 60px 30px 0 30px;
    }

    .banner .image img {
        width: 300px;
    }

    .banner .content p {
        font-size: 1.8rem;
    }

    .banner .subtitle {
        margin-top: 8px
    }

    .banner .subtitle p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .banner .subtitle .demo-btn {
        padding: 15px 15px;
        border-radius: 14px;
        max-width: 120px;
        font-size: 0.8rem;
    }
}


@media only screen and (max-width: 500px) {
    .banner {
        padding: 60px 30px 0 30px;
    }

    .banner .image img {
        width: 200px;
    }

    .banner .container {
        padding-left: 5px;
    }

    .banner .content p {
        font-size: 1.3rem;
    }

    .banner .subtitle p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .banner .subtitle .demo-btn {
        padding: 10px 20px;
        border-radius: 10px;
        max-width: 80px;
        font-size: 0.7rem;
    }

    .banner::before {
        left: 40px;
        right: 130px;
        top: 40px;
        bottom: 10px;
        background-size: 60px 60px;
    }
}

@media only screen and (max-width: 330px) {
    .banner {
        padding: 50px 30px 0 30px;
    }

    .banner .image img {
        width: 150px;
    }

    .banner .container {
        gap: 5px;
    }

    .banner .content p {
        font-size: 1rem;
    }

    .banner .subtitle p {
        font-size: 0.7rem;
    }

    .banner .subtitle .demo-btn {
        padding: 10px 15px;
        border-radius: 10px;
        max-width: 80px;
        font-size: 0.6rem;
    }
}