.questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 50px;
    gap: 20px;
}

.questions .container {
    display: flex;
    gap: 10px;
}

.questions .container .upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}

.questions .container .upload-btn .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--btn-text);
    font-size: 1rem;
}

.questions .container .upload-btn .buttons .file-btn {
    color: var(--btn-text);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.questions .container .upload-btn .buttons .file-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.questions .label {
    padding-left: 10px;
}

.questions .add-question-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    margin-top: 20px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.ellipsis {
    padding: 5px 10px;
    color: var(--btn-text);
}

.page-btn.active {
    background-color: var(--hover-text);
}

.select-question-type {
    margin-top: 16px;
}

.select-question-type .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}

.select-question-type .checkbox-label {
    display: flex;
    align-items: center;
}

.select-question-type .checkbox-label .label-text {
    width: 10px
}



.checkbox-label input[type="checkbox"] {
    appearance: checkbox;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

.checkbox-label input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}


.questions .select-language .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}

.questions .select-language .checkbox-label {
    display: flex;
    align-items: center;
}


.select-language .checkbox-label .label-text {
    width: 10px
}




@media only screen and (max-width:768px) {
    .questions .container {
        flex-direction: column;
    }

    .questions .container .upload-btn {
        max-width: 400px;
        padding-top: 0;
        margin-top: 10px;
        justify-content: flex-end;
        padding-left: 150px;
    }
}