.unit-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: var(--accent);
    gap: 20px;
}

.unit-table .content {
    display: flex;
    gap: 10px;
    width: 100%;
}

.unit-table .content .themed-select-container {
    max-width: 400px;
}

.unit-table .units-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.unit-table .units-actions img {
    width: 21px;
}

.unit-table .content .unit-input {
    max-width: 400px;
    width: 100%;
    outline: none;
    border-color: var(--border);
    padding: 5px 20px;
    border-radius: 8px;
}

@media only screen and (max-width:768px) {
    .unit-table .units-actions img {
        width: 15px;
    }
}

@media only screen and (max-width:480px) {
    .unit-table {
        padding: 15px 10px;
    }

    .unit-table .units-actions {
        gap: 10px;
    }
}

@media only screen and (max-width:440px) {
    .unit-table .content {
        flex-direction: column;
    }
}