.resetpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.resetpassword .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 50px 50px;
    gap: 20px;
    background-color: var(--bg-sidebar);
    box-shadow: var(--modal-shadow);
    border-radius: var(--radius);
}

.resetpassword .form .h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.resetpassword .form .p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}